body,td,th { font-size: 12px; font-family: arial; color: #a9a9a9; cursor: default; vertical-align: baseline; outline: 0; line-height: 1; margin: 0; padding: 0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family: arial; font-size: 12px; color: #a9a9a9; text-decoration: none; }
div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
:focus { outline: 0; }
img { border: none; }
::-webkit-scrollbar { width: 0; }
::selection { background: transparent; }
::-moz-selection { background: transparent; }

#actionmenu {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	overflow: auto;
	position: fixed;
	background: rgba(0,0,0,0.8);
}

#garagem {
	top: 50%;
	left: 50%;
	width: 1080px;
	padding: 50px;
	overflow: auto;
	position: fixed;
	transform: translate(-50%,-50%);
}

#buttons {
	left: 50%;
	margin: -26px 0 0;
	position: absolute;
	transform: translate(-50%,-50%);
}

.vehicle {
	float: left;
	width: 250px;
	margin: 10px;
	padding: 10px 0;
	background: rgba(0,0,0,0.5);
}

.vehicle-text {
	float: left;
	width: 220px;
	margin: 0 15px;
	border-bottom: 1px solid rgba(255,255,255,0.05);
}

.vehicle-left {
	float: left;
	color: #999;
	width: 70px;
	padding: 10px;
	text-align: left;
}

.vehicle-right {
	float: left;
	color: #666;
	width: 110px;
	padding: 10px;
	text-align: right;
}

.vehicle:hover {
	background: rgba(0,0,0,0.6);
}

.vehicle.active {
	background: rgba(0,0,0,0.7);
}

.spawn {
	float: left;
	width: 150px;
	color: #043310;
	margin: 0 10px;
	padding: 10px 0;
	font-weight: 700;
	text-align: center;
	background: rgba(40,230,90,0.6);
}

.store {
	float: left;
	width: 150px;
	color: #2d2204;
	margin: 0 10px;
	padding: 10px 0;
	font-weight: 700;
	text-align: center;
	background: rgba(220,170,15,0.6);
}

.spawn:active, .store:active {
	transform: translateY(2px);
}

.spawn:hover {
	color: #043310;
	background: rgba(40,230,90,0.7);
}

.store:hover {
	color: #2d2204;
	background: rgba(220,170,15,0.7);
}