/* RESET */
html, body {
	font-size: 12px;
	overflow: hidden;
	background: transparent;
	font-family: Arial,Helvetica,sans-serif;
}
/* LOGO */
#logo {
	top: 50px;
	right: 10px;
	height: 100px;
	opacity: 0.5;
	width: 128px;
	position: absolute !important;
	background: url("logo.png") no-repeat;
}
/* DISPLAY */
#hudDisplay {
	right: 50px;
	bottom: 50px;
	display: none;
	position: absolute !important;
}
/* DISPLAY TEXT */
.hudDisplayText {
	padding: 5px 0 0 4px;
	position: absolute !important;
}
/* DISPLAY TEXT CENTER */
.center {
	margin-left: 4px;
}
/* STREET */
.streetDisplay {
	right: 10px;
	float: left;
	bottom: 44px;
	width: 500px;
	text-align: right;
	color: rgba(255,255,255,0.5);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
}

.streetDisplay s {
	padding: 0 10px;
	text-shadow: none;
	text-decoration: none;
	color: rgba(255,255,255,0.2);
}
/* HEALTH */
.healthBackground {
	float: left;
	width: 50px;
	height: 28px;
	margin-right: 3px;
	background: #8149c5;
	border: 1px solid #1eb6ef;
}
/* HEALTH DISPLAY */
.healthDisplay {
	float: left;
	height: 28px;
	transition: all 0.9s;
	background: #2f0c5c;
}
/* ARMOUR */
.armourBackground {
	float: left;
	width: 44px;
	height: 28px;
	display: none;
	margin-right: 3px;
	background: #8149c5;
	border: 1px solid #1eb6ef;
}
/* ARMOUR DISPLAY */
.armourDisplay {
	float: left;
	height: 28px;
	transition: all 0.9s;
	background: #2f0c5c;
}
/* THIRST */
.thirstBackground {
	float: left;
	width: 31px;
	height: 28px;
	margin-right: 3px;
	background: #8149c5;
	border: 1px solid #1eb6ef;
}
/* THIRST DISPLAY */
.thirstDisplay {
	bottom: 1;
	float: left;
	width: 31px;
	max-height: 28px;
	transition: all 0.9s;
	background: #2f0c5c;
	position: absolute !important;
}
/* HUNGER */
.hungerBackground {
	float: left;
	width: 32px;
	height: 28px;
	margin-right: 3px;
	background: #8149c5;
	border: 1px solid #1eb6ef;
}
/* HUNGER DISPLAY */
.hungerDisplay {
	bottom: 1;
	float: left;
	width: 32px;
	max-height: 28px;
	transition: all 0.9s;
	background: #2f0c5c;
	position: absolute !important;
}
/* STRESS */
.stressBackground {
	float: left;
	width: 31px;
	height: 28px;
	margin-right: 3px;
	background: #2f0c5c;
	border: 1px solid #1eb6ef;
}
/* STRESS DISPLAY */
.stressDisplay {
	bottom: 1;
	float: left;
	width: 31px;
	max-height: 28px;
	transition: all 0.9s;
	background: #8149c5;
	position: absolute !important;
}
/* CLOCK */
.clockDisplay {
	float: left;
	height: 14px;
	text-align: center;
	padding: 8px 12px;
	background: rgba(0,0,0,0.6);
	color: rgba(255,255,255,0.7);
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.3);
}
/* MOVIE TOP */
#movieTop {
	top: 0;
	left: 0;
	width: 100%;
	height: 12%;
	display: none;
	background: #000;
	position: absolute !important;
}
/* MOVIE BOTTOM */
#movieBottom {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 12%;
	display: none;
	background: #000;
	position: absolute !important;
}
/* HOOD */
#hoodDisplay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: #000;
	position: absolute !important;
}
/* VEHICLE */
#vehicleDisplay {
	right: 60px;
	bottom: 117px;
	display: hidden;
	color: rgba(255,255,255,0.6);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0,0,0,1);
}
/* VEHICLEDISPLAY INNER DIV */
#vehicleDisplay > div {
	display: flex;
}
/* BELT */
#vehicleDisplay #belt {
	display: none;
}
/* VEHICLEGAS VEHICLESPEED */
#vehicleGas, #vehicleSpeed {
	padding-left: 5px;
	font-size: 24px;
	font-weight: 700;
}
/* VEHICLEDISPLAY S */
#vehicleDisplay s {
	font-size: 11px;
	font-weight: 300;
	margin-left: 10px;
	letter-spacing: 2px;
	text-decoration: none;
	color: rgba(255,255,255,0.2);
}
/* VOICE03 */
#voice03 {
	width: 3px;
	float: left;
	height: 30px;
	margin-right: 3px;
	background: rgba(255,255,255,0.5);
}
/* VOICE02 */
#voice02 {
	width: 3px;
	float: left;
	height: 20px;
	margin-top: 10px;
	margin-right: 3px;
	background: rgba(255,255,255,0.5);
}
/* VOICE01 */
#voice01 {
	width: 3px;
	float: left;
	height: 10px;
	margin-top: 20px;
	margin-right: 3px;
	background: rgba(255,255,255,0.5);
}